<main class="form" [formGroup]="loginForm">
  <div class="container">
    <div class="form__content">
      <h1 class="form__title"><span>Вход</span> в систему</h1>
      <form class="form__details">
        <div class="form__group" [ngStyle]="{'border-color': loginForm.get('email')?.invalid
        && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched) ? 'red' : ''}">
          <input type="text" class="form__input" id="email" required formControlName="email">
          <label for="email" class="form__label">Электронная почта</label>
        </div>
        <div class="form__group" [ngStyle]="{'border-color': loginForm.get('password')?.invalid
        && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched) ? 'red' : ''}">
          <input type="password" class="form__input" id="password" required formControlName="password">
          <label for="password" class="form__label">Пароль</label>
        </div>
      </form>
      <div class="form__btn">
        <button class="button" id="process" [disabled]="loginForm.invalid" (click)="login()">Перейти к выбору теста</button>
      </div>
      <div class="form-link">Нет аккаунта? <a routerLink="/signup">Зарегистрироваться</a></div>
    </div>
    <div class="form__image">
      <img src="./assets/images/form-img.png" alt="student with notebook">
    </div>
  </div>
</main>
