<header class="header">
  <div class="container">
    <a routerLink="/" class="logo">
      <div class="logo__txt">Айтилогия<span>Quiz</span></div>
      <img class="logo__img" src="./assets/images/hat.png" alt="student hat">
    </a>

    <div class="profile" id="profile" *ngIf="userInfo && userInfo.fullName">
      <img src="./assets/images/profile.png" alt="profile" class="profile-image">
      <div class="profile-info">
        <div class="profile-user" id="profile-fullName">{{ userInfo.fullName }}</div>
          <a (click)="logout()" class="profile-logout">Выйти</a>
        </div>
      </div>
    </div>
</header>
